<p id="notice"><%= notice %></p>

<h1>Emp Records</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Middlename</th>
      <th>Lastname</th>
      <th>Address</th>
      <th>Mobile</th>
      <th>Landline</th>
      <th>Email</th>
      <th>Unit</th>
      <th>Idnumber</th>
      <th>Tin</th>
      <th>Designation</th>
      <th>Additionalinfo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emp_records.each do |emp_record| %>
      <tr>
        <td><%= emp_record.firstname %></td>
        <td><%= emp_record.middlename %></td>
        <td><%= emp_record.lastname %></td>
        <td><%= emp_record.address %></td>
        <td><%= emp_record.mobile %></td>
        <td><%= emp_record.landline %></td>
        <td><%= emp_record.email %></td>
        <td><%= emp_record.unit %></td>
        <td><%= emp_record.idnumber %></td>
        <td><%= emp_record.tin %></td>
        <td><%= emp_record.designation %></td>
        <td><%= emp_record.additionalinfo %></td>
        <td><%= link_to 'Show', emp_record %></td>
        <td><%= link_to 'Edit', edit_emp_record_path(emp_record) %></td>
        <td><%= link_to 'Destroy', emp_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Emp Record', new_emp_record_path %>
